body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: black;
}
.fundo
{
    width: 20px;
    height: 20px;
    position: relative;
    border: solid 1px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    width: 15em;
    align-items: center;
}

p, b, i
{
    color: rgb(0, 0, 0);
}